:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --primary-red: #E50914;
  --primary-bg-color: #000000;
  --typography-white: #FFFFFF;
  --typography-gray: #757575;
  --typography-light-gray: #8C8C8C;
  --typography-lightest-gray:#999999;
  --accent-blue: #0071EB;
  --accent-orange: #FFA00A;
  --accent-green: #5FA53F;
  --secondary-bg-color: #222222;
  --button-border-radius: 0.4rem;
}
/*
.signika-<uniquifier> {
  font-family: "Signika", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
} */

body {
  font-family:"Signika", serif;
  font-weight: normal;
  font-size: 26px;
  line-height: normal;
  letter-spacing: normal;
  background-color: var(--primary-bg-color);
  color:var(--typography-white);
}

 h1 {
  background-color: var(--primary-red);
 }
 h1, h2 {
  padding-left: 5rem;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
 }
/* ----- TYPOGRAPHY TABLE -----*/
h1 {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: -0.5%;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: -1%;
}

h3 {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: normal;
  letter-spacing: normal;
}

.primary-button {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: normal;
  letter-spacing: 0.1%;
}

.secondary-button, 
.text-field,
.lead {
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
}

.subtitle {
  font-weight:500;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.5%;
}

.error {
  font-weight: normal;
  font-size: 15px;
  line-height: normal;
  letter-spacing: normal;
}

.label {
  font-weight: bold;
  font-size: 13px;
  line-height: normal;
  letter-spacing: normal;
}

.link {
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
  letter-spacing: normal;
}
/* ------|   COLOR SYSTEM  |------*/
/* ------|   Main colors   |------*/
section {
  border: 1rem solid var(--primary-red);
}
.main-colors {
  display: flex;
  
}
.main-colors h2 {
  padding: 3rem 0; 
}
.red {
  background-color: var(--primary-red);
  width: 30rem;
  height: 15rem;
  padding-top: 6.5rem;
  padding-left: 2rem;
  text-align: left;
}

.black {
  border: 1px solid var(--typography-white);
  width: 30rem;
  height: 15rem;
  padding-top: 6.5rem;
  padding-left: 2rem;
  text-align: left;
}


/* ------|   Typography colors   |------*/

.typography-colors {
  display: flex;
  
  }

.typography-colors div:has(p),
.accent-colors div:has(p),
.bg-colors div:has(p) {                            
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding-left: 1rem;
  padding-top: 1rem;
}

.white {
  background-color: var(--typography-white);
  color: var(--primary-bg-color);
  width: 10rem;
  height: 10rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
  
}

.gray {
  background-color: var(--typography-gray);
  color: var(--primary-bg-color);
  width: 10rem;
  height: 10rem;
  padding-left: 1rem;
  display: flex;
  align-items: end;
  
}

.l-gray {
  background-color: var(--typography-light-gray);
  color: var(--primary-bg-color);
  width: 10rem;
  height: 10rem;
  padding-left: 1rem;
  display: flex;
  align-items: end;
}

.lt-gray {
  background-color: var(--typography-lightest-gray);
  color: var(--primary-bg-color);
  width: 10rem;
  height: 10rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 1rem;
  display: flex;
  align-items: end;
}

/* ------|   Accent colors   |------*/

.accent-colors {
  display: flex;
  
}

.blue {
  background-color: var(--accent-blue);
  color: var(--typography-white);
  width: 10rem;
  height: 10rem;
  margin-right: 5rem;
  
}

.orange {
  background-color: var(--accent-orange);
  color: var(--typography-white);
  width: 10rem;
  height: 10rem;
  margin-right: 5rem;
}

.green {
  background-color: var(--accent-green);
  color: var(--typography-white);
  width: 10rem;
  height: 10rem;

}

/* ------|   Background colors   |------*/

.bg-colors {
  display: flex;
}

.bg-black {
  background-color: var(--primary-bg-color);
  color: var(--typography-white);
  width: 10rem;
  height: 10rem;
  border: 1px solid var(--typography-white);
  margin-right: 5rem;
}

.bg-foggy-black {
  background-color: var(--secondary-bg-color);
  color: var(--typography-white);
  width: 10rem;
  height: 10rem;
  padding-left: 1rem;
  display: flex;
  align-items: end;
  
}


/* ------|   Typography Table  |------*/

.typography {
  background-color: var(--primary-bg-color);
  border: 1rem solid var(--primary-red);
  
}

table {
  border-spacing: 0;
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

table tr:nth-child(2n) {
  background-color: var(--secondary-bg-color);
  
}

table td:nth-child(n+2) {
  text-align: center;
}

table tr:nth-last-child(-n+3) {
  opacity: 0.2;
}

table td {
 padding: 2rem 5rem;
}

.typography table tr td h1 {
  padding: 0 0;
}
.typography table tr td h2 {
  padding: 0 0;
}

/* ------|         UI & UX       |------*/
/* ------|         Buttons       |------*/
/* ------|          Cards        |------*/
.main-colors,
.typography-colors,
.accent-colors,
.bg-colors,
.buttons,
.cards-section {
  padding-left: 5rem;
  padding-bottom: 5rem;
 
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10rem;
  padding: 2rem 0;
}
.main-cards {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
  margin-right: 5rem;
}
.vertical-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
} 

/*--------- BUTTONS -------*/
.primary-button,
button {
  font-size: 1.2rem;
  letter-spacing: 0.1%;
  background-color:var(--typography-white);
  color: var(--primary-bg-color);
  border-radius: var(--button-border-radius);
  display: flex;
  gap: 0.5rem;
  padding: 0.4rem 1rem;
  border: none;
  align-items: center;
}

.secondary-button {
  background-color: var(--typography-gray);
  color:var(--typography-white);
}

.exceptional-button {
  font-size: 1rem;
  background:transparent;
  border-radius: 0;
  border: 1px solid var(--typography-gray);
  color: var(--typography-gray);
}

.primary-button:hover,
.secondary-button:hover,
.exceptional-button:hover {
  scale: 120%;
  transition: ease-in 150ms;
}

.secondary-button:hover {
  background-color: var(--typography-lightest-gray);
}

.exceptional-button:hover {
  border: 1px solid var(--typography-white);
  color: var(--typography-white);
}

/*--------- CARDS -------*/

.card {
  background-color: var(--typography-gray);
  width: 25rem;
  aspect-ratio: 16/9;
  background-image: url(./MovieBlock/icon-netflix.png);
  background-repeat: no-repeat;
  background-position: 0.7rem 0.7rem;
  background-size: 1.5rem;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center; 
}

.card img {
 position: absolute;
 top: 0;
 right: 0;
 height: 3rem;
}
.card:has(img) {
  border-top-right-radius: 5px;
}

.card div {
  display: flex;
  justify-content: space-between;
}


.card span {
  background-color: var(--primary-red);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
}


.vertical-card-container {
  display: flex;
  justify-content: center;
}
.vertical-card {
  background-color: var(--typography-gray);
  width: 12.5rem;
  aspect-ratio: 3/4;
  background-image: url(./MovieBlock/icon-netflix.png);
  background-repeat: no-repeat;
  background-position: 0.4rem 0.4rem;
  background-size: 1rem;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center; 
}
.vertical-card img {
  position: absolute;
  top: 0;
  right: 0;
}
.vertical-card:has(img) {
  border-top-right-radius: 5px;
}
.vertical-card span {
  background-color: var(--primary-red);
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
}

/*  --------   Who's watching?   -------- */
.who-is-watching {
  border: none;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.users {
  display: flex;
  justify-content: center;
}
.user {
  text-align: center;
  padding: 0 1rem;
}

.user img {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.users:has(span){ 
  color: var(--typography-lightest-gray);
  background-color: var();
}

.add-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.add-profile img {
  margin:auto
}
.user:hover{
  scale: 120%;
  transition: ease-in 150ms;
  color: var(--typography-white);
  }
  .add-profile:hover {
      color: var(--typography-white);
  }

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
